body {
  font-family: Google Sans, arial, sans-serif;
  font-weight: 400;
}

.Weather {
  border: 1px solid #70757a;
  padding: 40px;

  border-radius: 4px;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
  width: 64px;
}

.Weather h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.Weather li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
  list-style: none;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .unit {
  display: inline;
  position: relative;
  top: -28px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 56px;
  line-height: 64px;
}
